body {
	text-align: center;
}
label {
	width: 100px;
}
button {
	font-size: 30px;
	margin-top: 20px;
}
img {
	margin-bottom: 20px;
}
.no-display {
	display: none;
}
.all {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);
}
#listen,#try {
	margin-right: 30px;
}
#output {
	display: none;
}
#correct_answer, #user_answer, #result {
	font-size: 30px;
}
#result {
}
#loading {
	opacity: 0.5;
}
#progress {
	margin-top: 20px;
}
#progress_bar {
	transition-duration: 0;
}
#progress_bar.active {
	transition-duration: 5s;
}
#player {
	display: block;
    height: 30px;
    width: 500px;
}